html,body{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    
}




@media only screen and (min-width:1080px)
{
    .container{
        height: 100vh;
        background-color: rgb(229, 230, 240);
        display: flex;
        flex-wrap: wrap;
    }
    .btn {
        order: 3;
        border: 2px solid blue;
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 1px 1px;
      }
    
    .b{
        width: 25%;
        height:50%;
        margin: 5px;
        border: 2px solid black;
        text-align: center;
    }
    
    .tab
    {
        border: 2px solid rgb(189, 223, 23);
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
        margin:1px 1px ;
        flex-wrap: wrap;
        align-content: flex-start;
        /* importent */
    }
    
    .t{
        width: 20%;
        height: 10%;
        border: 2px solid black;
        margin: 5px 5px;
    }
    
    .camp {
        
        display: none;
      }
    
    
    
}
























